# Ignore node_modules anywhere
node_modules

# Ignore env files
.env
frontend/.env
backend/.env

# Logs
*.log
logs/

# Build / dist folders
dist/
build/
.cache/
.next/
out/

# Coverage reports
coverage/

# OS files
.DS_Store
Thumbs.db

# IDE / editor
.vscode/
.idea/
*.swp
*.swo

# TypeScript build info
*.tsbuildinfo
